@font-face {
	font-family: titulos;
	src: url('../font/Flamenco-Regular.ttf');
}

* {
	box-sizing: border-box;
}

:root{
	--white: #FFF;
	--black: #000;
	
	
	--blue-100: #2D91CD;
	--blue-200: #0071BC;
	--blue-300: #00558D;
	--blue-400: #00395E;
	--blue-500: #001C2F;
	
	--gray-100: #F0ECEC;
	--gray-200: #F0EFEC;
	
	--yellow: #FCEE21;
	--yellow-100: #FFFEED; 
	--yellow-200: #FEFCD3; 
	--yellow-300: #FEF8A6; 
	--yellow-400: #BDB319; 
	--yellow-500: #7E7711; 
	
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: titulos;
}

body {
	margin: 0;
	padding: 0;
	margin: auto;
	background-color: var(--yellow-200);
}

button {
	background-color: var(--blue-100);
	width: 133px;
	border-color: #000;
	color: var(--white);
	border-radius: 4px;
	cursor: pointer;
	font-family: titulos;
	font-size: 18px;
	opacity: 95%;
	margin: 0.1em 0.1em;
}

button:disabled, button[disabled], button:disabled:hover {
	cursor: default;
	opacity: 50%;
}

button:hover {
	opacity: 100%;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

header div {
	min-width: 250px;
	margin: 3px 3px 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
}

header div div {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

header img+div {
	align-items: flex-start;
	justify-content: flex-end;
}

main {
	display: flex;
	width: 100vh;
	height: 100%;
	min-height: 600px;
	max-width: 1024px;
	justify-content: center;
	margin: 26px auto auto auto;
	position: relative;
	background-color: var(--yellow-200);
}

footer {
	align-content: center;
	width: 100%;
	text-align: center;
	position: relative;
	height: 33px;
	bottom: 0px;
	font-family: titulos;
	font-size: 33px;
	margin-bottom: 5px;
	margin-top: 40px;
}

footer a {
	cursor: pointer;
}

form {
	display: block;
	padding-top: 20px;
	width: 366px;
}

form button {
	width: 100%;
	height: 36px;
	border-radius: 4px;
}

form div {
	margin: 0 0 10px 0;
	padding: 0 7px 0 3px;
}

form font {
	font-size: 16px;
	margin-left: 1px;
}

.form-acesso input[type="text"], form input[type="password"], form input[type="email"]
	{
	width: 100%;
	min-width: 233px;
	height: 35px;
	margin: 0 0 0 2px;
	color: #660066;
}

input{
	height: 30px;
	font-size: 15px;
}

form progress {
	width: 100%;
}

input[type="radio"] {
	margin-left: 12px;
}

h1 {
	color: #330033;
}

input[type=checkbox]:checked {
	color: #660066;
}

ul {
	list-style-type: none;
}

/* 				IDS 			*/
#select-localidades {
	width: 65%;
}

/* 				Class Names 			*/
.botao-cancelar {
	background-color: #ccc;
	color: #000000;
	display: block;
}

.conta {
	position: absolute;
	top: 56px;
}

.conta small+small {
	color: #0000FF;
	cursor: pointer;
}

.form-group {
	display: block;
}

::placeholder {
	color: #d0d5d7;
	padding-left: 5px;
	font-size: 15px;
}

/* 		INDEX.HTML */
.header-index {
	display: block;
	height: 100%;
	width: 100%;
	background-color: var(--yellow-200);
}

.header-index-fixed {
	width: 100%;
	height: 65px;
	margin: auto;
	background-color: var(--yellow);
	display: inline;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}

.header-index-fixed-max-width{
	align-items:stretch;
	width: 100%;
	height: 65px;
	padding: 0 ;
	margin: auto;
	width: 1024px;
	max-width: 1024px;
}

#img-logo{
	display: inline-block;
	left: 0;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#img-slogan{
	top: 0;
	bottom: 0;
	width: 500px;
	margin-bottom: 5px;
}




#img-topo {
	width: 100%;
	height: 100%;
	content: url("../img/bg/magno-marex.jpg");
	position: relative;
	margin: auto;
}

.header-index-img {
	height: auto;
	width: auto;
	border: 1px solid;
	border-radius: 5px;
	max-width: 1024px;
	min-height: 540px;
	margin: 45px auto 0 auto ;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/bg/magno-marex.jpg");
}

/* 		HOME.HTML */
.semi-titulo {
	display: block;
	color: gray;
	margin: auto auto auto auto;
	text-align: right;
	font-size: 45px;
	font-weight: bold;
	font-family: sans-serif;
}

.navigation-user{
	text-align: right;
	margin-bottom: 5px;
	display: block;
	width: 100vh;
}

.acess-panel{
	margin-top: 5px;
	justify-content: space-between;
	text-align: right;
	display: flex;
	flex-direction: column;
}


.titulo-principal {
	display: block;
	margin: auto;
	text-align: left;
	width: 800px;
	height: 100%;
	font-size: 150px;
	font-weight: bold;
	font-family: sans-serif;
}

.img-logo {
	border: solid;
	border-width: 2px;
	padding: 5px;
	display: block;
	border-color: #0071BC;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.sobre {
	text-align: center;
	max-width: 433px;
	line-height: 1.5;
}

.border-container img {
	height: 335px;
}

.padding-top {
	padding-top: 100px;
}

.margin-top {
	margin-top: 50px;
}

.loading {
	padding-top: 5px;
	height: 33px;
	width: 33px;
	display: block;
	margin: 10px auto;
}

.display-block {
	display: inline-block;
}

.display-inline {
	display: inline;
}

.display-none {
	display: none;
}

.nome-usuario {
	display: block;
	padding-right: 5px;
	width: 100%;
	font-family: titulos;
	font-size: 12ox;
	color: #000;
}

.checkbox-inline input[type="checkbox"] {
	height: 24px;
	position: absolute;
	top: -7px;
	margin-left: -24px;
}

.checkbox-inline {
	position: relative;
	top: 2px;
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	padding-left: 30px;
	margin-bottom: 10px;
	cursor: pointer;
}

.mensagem-erro {
	color: #FF0000;
}

.mensagem-progress {
	color: #0000FF;
	font-weight: bold;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.lista-atletas {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	list-style: none;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.space-beetween {
	justify-content: space-between;
}

.jc-flex-end {
	justify-content: flex-end;
}

.jc-flex-start {
	justify-content: flex-start;
}

.items-right {
	align-items: flex-end;
}

/*	
ATLETA.HTML			
*/
#img-atleta {
	max-height: 200px;
	max-width: 200px;
}

.atleta {
	border: solid;
	border-width: 2;
	width: 40%;
}

.lista-atletas li {
	border: solid;
	border-width: 2;
	width: 100%;
}

.manobras {
	border: solid;
	border-width: 2;
	width: 60%;
}

.grupos {
	display: none;
	width: 33%;
}

.container-atleta {
	width: 800px;
	display: flex;
	flex-direction: row;
}

.botao-foto {
	opacity: 75%;
	width: 24px;
	height: 24px;
}

.botao-editar {
	opacity: 75%;
	width: 16px;
	height: 16px;
}

.botao-foto:hover, .botao-editar:hover {
	opacity: 100%;
	cursor: pointer;
}
/* PICOS */

.botao-selecionar-fotos{
	width: 100px;
}

.botao-adicionar-tag{
	width: 25px;
	font-weight: bold;
}

.form-item button{
	height: 25px;
	background-color: var(--blue-400);
}

.botao-form-pico{
	margin: 50px auto ;
	display: block;
	width: 250px;
}


#ul-fotos{
	display: flex;
	margin-left: 75px;
	flex-wrap: wrap;
	flex-direction: column;
}


#ul-tags{
	display: flex;
	margin-left: 60px;
	flex-wrap: wrap;
	flex-direction: row;
}

#ul-fotos li{
	margin: 5px auto 0 5px;
}

#form-pico ul li{
	padding: 10px;
	border-radius: 10px;
	background-color: var(--yellow-300);
}

#ul-tags li{
	margin: 5px 5px;
}

#ul-tags li:before{
	content: "#";
}

#ul-fotos li{
	margin-right: 0 50px;
	border: 1px;
	display: inline-block;
	text-align: left;
}

#ul-fotos li:hover, #ul-tags li:hover{
	cursor: pointer;
	opacity: 65%;
}

#ul-fotos li img, #ul-fotos li span{
	display: inline-block;
	margin: auto auto auto 0;
}

#ul-fotos li img:hover:after{
	
	position: relative;
	bottom: 50px;
	left: 0;
	content: "\274c";
	
}

#form-pico{
	width: 100vh;
}

.form-item label{
	margin-top: 7px;
	vertical-align: top;
	display: inline-block;
	width: 100px;
	text-align: right;
}

.form-item input + label, .form-item button + label{
	text-align: left;
	display: inline-block;
}

.form-item input{
	display: inline-block;
}

.form-item textarea{
	margin-left: 3px;
	display: inline-block;
}

.form-item strong{
	color: red;
}
.pico-upload{
	width: 100%;
}

.pico-upload progress, .pico-upload label{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.pico-upload label{
	text-align: center;
}

.lista-picos {
	display: block;
	list-style: none;
}

.lista-picos li{
	cursor: pointer;
	margin: 5px 0;
	border: 1.5px solid;
	border-radius: 5px;
	padding: 5px;
}

.lista-picos li img{
	margin: 5px 10px 5px 0;
}

.informacoes-pico{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.lista-picos li strong{
	display: block;
	margin: auto;
	text-align: left;
	margin: 0 0 10px 0;
}


/* ATLETAS */

/* LISTA PAGINADA */
.lista-paginada-header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100vh;
}

.lista-paginas {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 10px;
	list-style: none;
}

.li-pagina-selecionada {
	font-weight: bold;
}

/* MODAL PANEL */
.modal {
	z-index: 101;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 400px;
}

.modal-container:after, .modal-container:before {
	display: table;
	clear: both;
}

.modal-container {
	padding: 0.5em 16px;
}

.close-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.cursor-pointer {
	cursor: pointer;
}

.close-button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

.close-button:hover {
	color: #000 !important;
	background-color: #ccc !important;
}

.display-top-right {
	position: absolute;
	right: 0;
	top: 0;
}

.titulo-modal {
	position: absolute;
	right: 50%;
	top: 10;
}

.modal-header {
	color: #fff !important;
	background-color: #660066 !important;
}